<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='/stylesheets/room.css' />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/page.js"></script>
        <script src="/javascripts/room.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <% include nav.html %>
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="roomname">Room Name</a></li>
                    <li><a href="/" id="changeRoom">Change Room</a></li>
                </ul>            
            </nav>        
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-3">
                    <div class = well>
                        <h3> Online Users </h3>
                        <ul id="onlineUsers">
                        </ul>
                    </div>
                </div>
                <!-- chatdiv begin -->
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <div class="jumbotron">
                        <div class="text-center">
                            <p id="client_connected"></p>
                        </div>
                        <div id="chat_div">
                        </div>
                        <div id="chat_form">
                            <form role="form" id="form">
                                <input id="message_input" type="text" class="form-control"  autocomplete="off" placeholder="Type message.." />
                                <button id="send_message_button" type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </body>
</html>